.EarthquakeDescription .EarthquakeTitle {
    font-size: 1rem;
}

.EarthquakeDescription .EarthquakeDataSeparator {
    padding-top: .75rem;
}

.EarthquakeDescription .EarthquakeDataRow td {
    font-size: .9rem;
}

.EarthquakeDescription .EarthquakeDataRow .EarthquakeDataValue {
    font-weight: bold;
}
